.CharacterPanel {
  height: 120px;
  width: 300px;
}

.CharacterPanel-row {
  height: 30px;
  align-items: center;
}

.CharacterPanel-hasHadTurn {
  background-color: lightgray;
}

.CharacterPanel-isTurn {
  background-color: lightyellow;
}

.CharacterPanel .CharacterPanel-editable, .CharacterPanel-defense {
  width: 50px;
  margin-right: 0px;
  text-align: center;
}

.CharacterPanel-input {
  width: 24px;
}

.CharacterPanel .CharacterPanel-exaltType {
  width: 100px;
}
