#Layout {
  /* Stops margin-top from pushing entire body away. */
  padding-top: 1px;

  display: flex;
  flex-direction: column;
}

.Layout-characters-container {
  display: flex;
  justify-content: center;
}

.Layout-characters {
  max-width: 900px;
  width: 100%;
  position: relative;
}
