
* {
  box-sizing: border-box;
}

body, #root, #Layout {
  height: 100vh;
  width: 100vw;
}

body {
  --bg-primary: #666;
  --text-light: #EEE;

  margin: 0;
  padding: 0;

  background-color: var(--bg-primary);
  background: url('./images/exalted-bg-map.jpg');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
